/*Estilo principal*/
body {
    background-color: #efefef;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding: 0;
    margin: 0;
}

/*Sección de encabezado*/
header {
    background-color: #555;
    color: #fff;
    padding-top: 20px;
    text-align: center;
}

nav {
    background-color: #444;
    width: 100%;
    padding-bottom: 20px;
}

nav ul {
    list-style-type: none;
    padding: 0;
    padding-bottom: 12px;
}
nav li {
    display: inline;
    margin: 0 0px;

}

nav li a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

nav li a:hover {
    background-color: #ddd;
    color: black;
}
  

section {
    max-width: 900px;
    margin: 20px auto;
    padding: 20px;
    background: white;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Estilos por clases */
.container {
    display: flex;
    gap: 20px;
}
.content {
    display: flex;
    margin-top: 0px;
    align-content: center;
    flex-flow: column wrap;
}

.content p {
    margin-left: 0;
}

.project-icon {
    max-width: 200px;
    max-height: 400px;
    border-radius: 8px;
}
.proyecto {
    background: #ddd;
    padding: 15px;
    border-radius: 8px;
    text-align: center;
    max-width: 250px;
}

.container {
    display: flex;
    gap: 20px;
    flex-flow: row wrap;
}

.social {
    text-align: center;
    margin: auto;
}
.social a {
    color: rgb(0, 0, 0);
    text-decoration: none;
}

/* Estilos por ID */


#imgcontainer {
    height: 200px;
    width: 200px;
    overflow: hidden;
    border-radius: 50%;
}

#profile-pic {
    width: 100%;
    height: 100%;
    object-fit: cover;
    scale: 1.5;
}
#cont-proyectos {
    justify-content: center;
}
#rickroll {
    color: #600;
}

/* Media query diseño responsivo */
@media screen and (max-width: 768px) {
    .content {
        flex-direction: column;
        text-align: center;
    }
    .proyectos-container {
        flex-direction: column;
        align-items: center;
    }
}